@font-face {
    font-family: 'Fira Sans Regular';
    src: url('../fonts/FiraSans-Regular.otf');
}

body {
    font-family: 'Fira Sans Regular';
}

body a:focus {
    text-decoration: none;
}

body button,
body input {
    outline: none;
}

.header {
    width: 300px;
    background-color: white;
    box-shadow: 3.9px 1px 8px rgba(0, 0, 0, 0.27);
    height: 100vh;
    position: fixed;
    z-index: 1;
}

.logotype {
    padding: 30px 25px;
}

.menu ul {
    padding-left: 0;
}

.menu ul li {
    list-style: none;
    margin-bottom: 5px;
    clear: both;
}

.menu > ul > li > a {
    height: 54px;
    position: relative;
}

.menu > ul > li a:hover,
.menu > ul > li.active > a {
    background-color: #ff391d;
    color: #fff;
    text-decoration: none;
}

.menu ul li.open>a {
    background-color: #ff391d;
    color: #fff;
    text-decoration: none;
}

.menu ul li a {
    color: #4a4a4a;
    font-size: 16px;
    font-weight: 600;
    padding: 16px 30px;
    display: block;
}

.menu .dropdown-menu {
    position: static;
    width: 95%;
    border: 0;
    box-shadow: none;
    margin-left: 5%;
    margin-bottom: 15px;
}

.menu .dropdown-menu li a {
    color: #4a4a4a;
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
    padding: 5px 15px;
}

.menu .dropdown-menu li a:hover {
    color: #df3c24;
    background-color: transparent;
}

.icons {
    padding: 25px;
    text-align: justify;
    margin-top: 50px;
}

.icons .fa {
    width: 40px;
    height: 40px;
    border: 1px solid #4a4a4a;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    border-radius: 50%;
    color: #4a4a4a;
    position: relative;
    display: inline-block;
    transition: all .3s ease-in-out;
}

.icons .fa:hover {
    background-color: #df3c24;
    color: #fff;
    border-color: #fff;
}

.icons:before {
    content: '';
    display: block;
    width: 100%;
}

.icons:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.copyrade {
    padding: 10px 25px;
    text-align: center;
}

.content {
    margin-left: 300px;
    padding-bottom: 120px;
}

.in-page.content {
    padding-bottom: 0;
}

.slider-top .slick-dots {
    bottom: 15px;
}

.slider-top div {
    height: 957px;
}

.slider-top div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.languages {
    float: right;
    margin-right: 77px;
}

.top-fixed {
    position: absolute;
    top: 0px;
    width: 100%;
    padding: 15px 0;
}

.top-content {
    position: relative;
}

.slider-top .slick-dots li button:before {
    font-size: 16px;
    color: #fff;
    opacity: 1;
}

.slider-top .slick-dots li.slick-active button:before {
    color: #df3c24;
    opacity: 1;
}

.images-main {
    height: 368px;
    object-fit: cover;
    width: 100%;
}

.servisec-block {
    color: #000;
}

.servisec-block h3 {
    font-weight: 600;
}

.container {
    max-width: 100%;
}

.menu-toggle img {
    width: 36px;
    height: 36px;
}

.logo-mob {
    width: 100px;
    margin: 0 auto;
}

.languages a img {
    width: 31px;
    height: 31px;
}

.servisec-block p {
    margin: 10px 0;
    font-size: 15px;
    font-style: italic;
}

.servisec-block {
    margin-bottom: 1em;
}

.title-page {
    font-size: 36px;
    color: #df3c24;
    text-transform: uppercase;
    font-weight: 600;
}

.min-title {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 30px;
}

.vip-catering {
    background-image: url(../images/bg-2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-bottom: 120px;
    padding-top: 60px;
}

.block-food {
    background-color: #fff;
    border-radius: 7px;
    margin: 2em 0;
    position: relative;
}

.block-food a:hover,
.block-food a:focus {
    text-decoration: none;
}

.block-food img {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.info-more {
    padding: 15px;
    text-align: center;
    min-height: 206px;
}

.info-more h3,
.info-more p,
.info-more a {
    color: #292929;
}

.info-more p i {
    color: #70706c;
}

.select-size {
    border-bottom: 1px solid #000;
    margin: 25px 0;
}

.select-size p {
    margin-bottom: -11px;
}

.select-size span {
    background-color: #fff;
    padding: 7px 25px;
}

.link-basket {
    background-color: #ff391d;
    color: #fff;
    font-size: 12px;
    border: 0;
    border-radius: 5%;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100px;
    padding: 10px;
    float: right;
}

.add-basket {
    padding: 15px;
}

.price-and-size {
    width: 160px;
    margin: 0 auto;
    height: 92px;
    overflow: hidden;
}

.size-food {
    font-size: 16px;
    line-height: 12px;
    margin: 0 auto;
    padding: 13px 4px;
    text-align: center;
}

.min-info span {
    display: table-cell;
    vertical-align: middle;
    padding-right: 25px;
}

.price-food {
    font-size: 21px;
    font-weight: 500;
    text-align: center;
}

.price-and-size .slick-prev {
    left: 0;
    top: 10px;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

.price-and-size .slick-prev:before {
    content: '<'
}

.price-and-size .slick-next:before {
    content: '>'
}

.price-and-size .slick-prev:before,
.price-and-size .slick-next:before {
    font-family: inherit;
    color: #000;
    opacity: 1;
    font-weight: 300;
    line-height: 30px;
    font-size: 35px;
}

.price-and-size .slick-next {
    right: 0px;
    top: 10px;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

.fillter span {
    display: inline-block;
    height: 40px;
    border: 1px solid #9e9e9e;
    border-radius: 14px;
    padding: 0px 15px;
    line-height: 40px;
    margin-right: 25px;
}

.fillter span a {
    color: #9e9e9e;
    font-size: 16px;
    font-weight: 500;
}

.fillter span a:hover {
    text-decoration: none;
}

.fillter span.active a,
.fillter span:hover a {
    color: #fff;
}

.fillter span.active,
.fillter span:hover {
    border-color: #fff;
}

.pagination-bottom {
    margin-top: 120px;
    text-align: center;
}

.pagination-bottom li a {
    background-color: transparent;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 0 5px;
    border: 2px solid #fff;
    line-height: 36px;
    padding: 0;
}

.pagination-bottom li a:hover {
    background-color: #fff;
}

.pagination>li:first-child>a,
.pagination>li:first-child>span {
    margin-left: 5px;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
}

.pagination>li:last-child>a,
.pagination>li:last-child>span {
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
}

.pagination>li>a:hover,
.pagination>li>span:hover,
.pagination>li>a:focus,
.pagination>li>span:focus {
    z-index: 2;
    color: #ff391d;
    background-color: transparent;
    border-color: #ff391d;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    z-index: 3;
    color: #ff391d;
    background-color: transparent;
    border-color: #ff391d;
    cursor: default
}

.pagination>.disabled>span,
.pagination>.disabled>span:hover,
.pagination>.disabled>span:focus,
.pagination>.disabled>a,
.pagination>.disabled>a:hover,
.pagination>.disabled>a:focus {
    color: #ff391d;
    background-color: transparent;
    border-color: #ff391d;
    cursor: not-allowed
}

.breadcrumb {
    background-color: transparent;
    border-bottom: 2px solid #979797;
    border-radius: 0;
    margin-bottom: 40px;
    padding: 25px 0;
}

.breadcrumb li {
    font-size: 16px;
}

.breadcrumb li a {
    color: #646464;
}

.breadcrumb li.active {
    font-weight: 700;
    color: #ff391d;
}

.title-serch {
    text-align: center;
    color: #747474;
}

.title-serch span {
    color: #ff391d
}

.resultats {
    width: 594px;
    height: 58px;
    border: 2px solid #d5d5d5;
    border-radius: 50px;
    margin: 0 auto;
    outline: none;
    padding: 10px 30px;
    font-size: 17px;
    color: #a3a3a3;
    max-width: 100%;
}

.price-products {
    float: right;
    background-color: #ff391d;
    padding: 5px 10px;
    color: #fff;
    font-weight: 600;
    border-radius: 3px;
}

.img-products {
    float: left;
    margin-right: 30px;
    width: 138px;
    height: 123px;
    object-fit: cover;
    border-radius: 10px;
}

.tr-top {
    border-bottom: 2px solid #979797;
    color: #8e8d8d;
    margin-top: 8%;
    font-size: 18px;
}

.list-products {
    padding: 35px 15px;
    border-bottom: 1px solid #979797;
    min-height: 156px;
}

.list-products:last-of-type {
    border: 0;
}

.name-products {
    margin-bottom: 20px;
}

.name-products a {
    color: #000;
}

.ingredients {
    margin-bottom: 0;
}

.ingredients i {
    color: #686868;
}

.more-info-product {
    margin-left: 168px;
}

.steps {
    width: 780px;
    margin: 30px auto;
    text-align: center;
    max-width: 100%;
}

.step-item {
    display: table-cell;
    width: 260px;
}

.step-item span {
    width: 63px;
    height: 63px;
    background-color: white;
    border: 2px solid #fecd03;
    color: black;
    font-size: 20px;
    font-weight: 700;
    display: inline-block;
    text-align: center;
    line-height: 63px;
    border-radius: 50%;
    position: relative;
}

.step-item span.active {
    background-color: #fecd03;
}

.step-item span:after {
    border: 2px solid #e9e8ed;
    width: 200px;
    position: absolute;
    content: '';
    top: 30px;
    left: 104%;
}

.step-item:last-of-type span:after {
    border: 0;
    width: 0;
}

.img-basket {
    width: 138px;
    height: 123px;
    object-fit: cover;
    border-radius: 10px;
    float: left;
}

.table-basket {
    width: 100%;
}

.table-basket td {
    padding: 15px;
    border-bottom: 1px solid #979797;
}

.buttons-count {
    border: 0;
    background-color: #ededed;
    padding: 0;
    width: 24px;
    height: 24px;
    font-size: 26px;
    line-height: 10px;
    border-radius: 50%;
}

.count-input {
    width: 24px;
    border: 0;
    height: 24px;
    line-height: 10px;
    font-size: 20px;
    text-align: center;
}

.blocks-table {
    min-width: 100px;
    font-size: 17px;
}

#input_div {
    border: 2px solid #e9e9e9;
    padding: 5px 15px;
    border-radius: 25px;
    width: 115px;
}

.img-text {
    margin-left: 153px;
}

.img-text .name-products {
    margin: 0 0 10px 0;
}

.delete {
    cursor: pointer;
}

.summa-price {
    text-transform: uppercase;
    color: #686868;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.summa-price span {
    color: #a1a1a1;
    font-weight: 300;
}

.purchases {
    text-align: center;
    font-size: 16px;
    margin-bottom: 15px;
}

.purchases a {
    background-color: #f0eced;
    border-radius: 15px;
    padding: 10px 15px;
    color: #000;
    display: inline-block;
}

.purchases a.btn-2 {
    background-color: #ff391d;
    color: #fff;
}

.inputs-block input {
    display: block;
    border: 2px solid #e0e0e0;
    height: 52px;
    border-radius: 31px;
    width: 100%;
    margin-bottom: 25px;
    outline: none;
    font-size: 16px;
    padding: 10px 25px;
}

.inputs-block span {
    padding-left: 15px;
}

.title-task {
    font-size: 24px;
    background-image: url(../images/line2.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    padding-bottom: 12px;
    margin-bottom: 25px;
}

.textarea-masseg {
    max-width: 100%;
    width: 900px;
    min-height: 200px;
    display: block;
    border: 2px solid #e0e0e0;
    border-radius: 15px;
    outline: none;
    font-size: 16px;
    padding: 10px 25px;
    margin-bottom: 30px;
}

.table-task {
    width: 100%;
    font-size: 16px;
    margin-top: 20px;
}

.table-task td,
.table-task th {
    padding: 20px 0 5px 0;
    border-bottom: 1px solid #979797;
}

.table-task tr td:last-of-type {
    text-align: right;
    font-weight: 600;
}

.table-task td a {
    color: #696969;
    font-style: italic;
}

.btn-bottom {
    text-align: center;
    margin-top: 25px;
}

.btn-bottom a {
    background-color: #fed700;
    color: #000;
    font-size: 17px;
    display: inline-block;
    width: 200px;
    padding: 7px 5px;
    margin: 7px;
    border-radius: 18px;
}

.prev-btn {
    background-color: #ff391d;
    border-radius: 30px;
    color: #fff;
    font-size: 24px;
    border: 0;
    padding: 5px 20px;
    width: 400px;
    max-width: 100%;
    margin: 20px 0;
    height: 70px;
}

.text-end-task {
    line-height: 37px;
    margin-bottom: 20px;
}

.img-ok {
    margin: 2em auto;
}

#popup_toggle {
    bottom: 25px;
    transform: translateX(15%);
    transition: transform 0.3s ease-in-out;
    position: fixed;
    right: 0
}

.img-circle {
    background-color: #ff2000;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
}

.circlephone {
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    border: 2px solid #ff2000;
    width: 150px;
    height: 150px;
    bottom: -25px;
    right: 10px;
    position: absolute;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    opacity: .5;
    -webkit-animation: circle-anim 2.4s infinite ease-in-out !important;
    -moz-animation: circle-anim 2.4s infinite ease-in-out !important;
    -ms-animation: circle-anim 2.4s infinite ease-in-out !important;
    -o-animation: circle-anim 2.4s infinite ease-in-out !important;
    animation: circle-anim 2.4s infinite ease-in-out !important;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all 0.5s;
}

.circle-fill {
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    background-color: #ff2000;
    width: 100px;
    height: 100px;
    bottom: 0px;
    right: 35px;
    position: absolute;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid transparent;
    -webkit-animation: circle-fill-anim 2.3s infinite ease-in-out;
    -moz-animation: circle-fill-anim 2.3s infinite ease-in-out;
    -ms-animation: circle-fill-anim 2.3s infinite ease-in-out;
    -o-animation: circle-fill-anim 2.3s infinite ease-in-out;
    animation: circle-fill-anim 2.3s infinite ease-in-out;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all 0.5s;
}

.img-circle {
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    width: 72px;
    height: 72px;
    bottom: 14px;
    right: 49px;
    position: absolute;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid transparent;
    opacity: .7;
}

.img-circleblock {
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    width: 72px;
    height: 72px;
    background-image: url(../images/mini.png);
    background-position: center center;
    background-repeat: no-repeat;
    animation-name: tossing;
    -webkit-animation-name: tossing;
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

.img-circle:hover {
    opacity: 1;
}

@keyframes pulse {
    0% {
        transform: scale(0.9);
        opacity: 1;
    }
    50% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0.9);
        opacity: 1;
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(0.95);
        opacity: 1;
    }
    50% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0.95);
        opacity: 1;
    }
}

@keyframes tossing {
    0% {
        transform: rotate(-8deg);
    }
    50% {
        transform: rotate(8deg);
    }
    100% {
        transform: rotate(-8deg);
    }
}

@-webkit-keyframes tossing {
    0% {
        -webkit-transform: rotate(-8deg);
    }
    50% {
        -webkit-transform: rotate(8deg);
    }
    100% {
        -webkit-transform: rotate(-8deg);
    }
}

@-moz-keyframes circle-anim {
    0% {
        -moz-transform: rotate(0deg) scale(0.5) skew(1deg);
        opacity: .1;
        -moz-opacity: .1;
        -webkit-opacity: .1;
        -o-opacity: .1;
    }
    30% {
        -moz-transform: rotate(0deg) scale(0.7) skew(1deg);
        opacity: .5;
        -moz-opacity: .5;
        -webkit-opacity: .5;
        -o-opacity: .5;
    }
    100% {
        -moz-transform: rotate(0deg) scale(1) skew(1deg);
        opacity: .6;
        -moz-opacity: .6;
        -webkit-opacity: .6;
        -o-opacity: .1;
    }
}

@-webkit-keyframes circle-anim {
    0% {
        -webkit-transform: rotate(0deg) scale(0.5) skew(1deg);
        -webkit-opacity: .1;
    }
    30% {
        -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
        -webkit-opacity: .5;
    }
    100% {
        -webkit-transform: rotate(0deg) scale(1) skew(1deg);
        -webkit-opacity: .1;
    }
}

@-o-keyframes circle-anim {
    0% {
        -o-transform: rotate(0deg) kscale(0.5) skew(1deg);
        -o-opacity: .1;
    }
    30% {
        -o-transform: rotate(0deg) scale(0.7) skew(1deg);
        -o-opacity: .5;
    }
    100% {
        -o-transform: rotate(0deg) scale(1) skew(1deg);
        -o-opacity: .1;
    }
}

@keyframes circle-anim {
    0% {
        transform: rotate(0deg) scale(0.5) skew(1deg);
        opacity: .1;
    }
    30% {
        transform: rotate(0deg) scale(0.7) skew(1deg);
        opacity: .5;
    }
    100% {
        transform: rotate(0deg) scale(1) skew(1deg);
        opacity: .1;
    }
}

@-moz-keyframes circle-fill-anim {
    0% {
        -moz-transform: rotate(0deg) scale(0.7) skew(1deg);
        opacity: .2;
    }
    50% {
        -moz-transform: rotate(0deg) -moz-scale(1) skew(1deg);
        opacity: .2;
    }
    100% {
        -moz-transform: rotate(0deg) scale(0.7) skew(1deg);
        opacity: .2;
    }
}

@-webkit-keyframes circle-fill-anim {
    0% {
        -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
        opacity: .2;
    }
    50% {
        -webkit-transform: rotate(0deg) scale(1) skew(1deg);
        opacity: .2;
    }
    100% {
        -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
        opacity: .2;
    }
}

@-o-keyframes circle-fill-anim {
    0% {
        -o-transform: rotate(0deg) scale(0.7) skew(1deg);
        opacity: .2;
    }
    50% {
        -o-transform: rotate(0deg) scale(1) skew(1deg);
        opacity: .2;
    }
    100% {
        -o-transform: rotate(0deg) scale(0.7) skew(1deg);
        opacity: .2;
    }
}

@keyframes circle-fill-anim {
    0% {
        transform: rotate(0deg) scale(0.7) skew(1deg);
        opacity: .2;
    }
    50% {
        transform: rotate(0deg) scale(1) skew(1deg);
        opacity: .2;
    }
    100% {
        transform: rotate(0deg) scale(0.7) skew(1deg);
        opacity: .2;
    }
}

.img-big {
    width: 100%;
    height: 670px;
    object-fit: contain;
    border-radius: 3%;
}

.tab-img {
    max-width: 100%;
    width: 138px;
    height: 123px;
    object-fit: contain;
}

.bottom-backet {
    display: inline-block;
    margin-right: 15px;
    margin-top: 1em;
}

.btn-add-backet {
    background-color: #ff391d;
    border: 0;
    width: 270px;
    height: 56px;
    border-radius: 30px;
    color: #fff;
    font-size: 20px;
}

.summa {
    font-size: 24px;
    font-weight: 600;
}

.main-search {
    width: 100%;
    height: 40px;
    border-radius: 15px;
    border: 1px solid #555;
    padding: 5px 30px 5px 15px;
    outline: none;
    margin: 15px 0px;
}

.search-block {
    padding: 0 15px;
    position: relative;
}

.icon-search img {
    width: 16px;
    height: 16px;
}

.icon-search {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0%, -50%);
    background-color: transparent;
    border: 0;
}

.basket-block {
    padding: 0 15px;
}

.basket-text {
    border: 1px solid #555;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    position: relative;
    border-radius: 15px;
    margin-bottom: 25px;
    margin-top: 15px;
}

.basket-text img {
    width: 21px;
    height: 19px;
    margin-right: 20px;
}

.price-tasks {
    color: #ff391d;
    float: right;
    display: inherit;
    font-weight: 600;
}

.count-basket {
    color: #fff;
    background-color: #84bd3a;
    position: absolute;
    top: -7px;
    left: 0;
    display: block;
    height: 21px;
    line-height: 21px;
    min-width: 21px;
    text-align: center;
    border-radius: 10px;
}

input[type=radio]:checked + label:before {
    content: "";
    width: 16px;
    height: 16px;
    background-color: #fbd000;
}

.radio label:before {
    border-radius: 0px;
}

.radio label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    font-size: 16px;
    line-height: 30px
}

.radio {
    margin: 0 !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

input[type=radio] {
    display: none;
}

label:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 8px;
    background-color: #fff;
    border: 1px solid #eee;
}

.info-eat-more h2 a {
    color: #584d4d;
    font-weight: 600;
}

.info-eat-more h2 a:hover {
    text-decoration: none;
}

.info-eat-more p i {
    color: #70706c;
    font-size: 15px
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    background-color: #fff;
    border-bottom: 4px solid #ffd842 !important;
    cursor: default;
}

.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid #eee;
    border-radius: 0;
}

.nav-tabs>li>a:hover {
    background-color: transparent;
}

.nav-tabs {
    border-bottom: 1px solid transparent;
}

.modal-header h4 {
    text-align: center;
}

.modal-content {
    border: 2px solid #ff391d;
}

.modal-body input {
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    border: 1px solid #666666;
    padding: 0 15px;
    border-radius: 4px;
    outline: none;
}

.modal-body a button {
    background-color: #ff391d;
    border: 0;
    color: #fff;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
}

button.close {
    background-color: #4b3e3d;
    color: #fff;
    opacity: 1;
    padding: 0 5px;
    border-radius: 50%;
}

button.close:hover {
    opacity: 1;
}

.close:hover,
.close:focus {
    color: #fff;
}

@media (min-width:1400px) {
    .content .container {
        width: 1400px;
        max-width: 100%;
    }
}

@media (min-width:1200px) {
    .menu > ul > li.active >a:after, .menu > ul > li a:hover:after {
        content: url(../images/bg.png);
        position: absolute;
        top: 0;
        left: 100%;
    }
}

@media (max-width:1400px) {
    .images-main {
        height: 202px;
    }
    .header {
        width: 250px;
    }
    .content {
        margin-left: 250px;
    }
    .slider-top div {
        height: 600px;
    }
    .languages {
        margin-right: 15px;
    }
}

@media (max-width:1200px) {
    .img-text {
        margin-left: 0;
    }
    .img-basket {
        float: none;
    }
    .img-text {
        display: none;
    }
    .table-basket td {
        padding: 15px 10px;
    }
    .blocks-table {
        min-width: auto;
        font-size: 15px;
    }
    .img-basket {
        width: 118px;
        height: 103px;
    }
    .min-info span {
        padding-right: 10px;
    }
    .link-basket {
        font-size: 12px;
        width: 80px;
        padding: 6px;
    }
    .img-big {
        height: 400px
    }
    .tab-img {
        width: 88px;
        height: 63px;
    }
}

@media (max-width:992px) {
    .slider-top div {
        height: 400px;
    }
    .title-page {
        font-size: 24px;
    }
    .min-title {
        font-size: 21px;
    }
    .block-food img {
        height: 226px;
    }
    .info-more h3 {
        font-size: 20px;
        margin-top: 10px;
    }
    .img-products {
        width: 108px;
        height: 93px;
        margin-right: 10px;
    }
    .name-products {
        margin-bottom: 10px;
        margin-top: 0px;
    }
    .more-info-product {
        margin-left: 128px;
    }
    .title-serch {
        font-size: 24px;
    }
    .breadcrumb {
        padding: 0;
    }
    .step-item span:after {
        width: 155px;
    }
    .center-content-page {
        margin-top: 30px;
    }
    .btn-add-backet {
        width: 200px;
        font-size: 16px;
        height: 40px;
    }
    .info-eat-more {
        padding-bottom: 20px;
    }
}
@media (min-width:767px) {
    .modal-dialog {
    width: 400px;
}

}
@media (max-width:767px) {
    .header {
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        top: 56px;
        box-shadow: none;
        padding: 15px 0;
    }
    .content {
        margin-left: 0px;
    }
    .div-view {
        transform: translateX(0);
        z-index: 1;
    }
    .top-fixed {
        background-color: rgba(171, 169, 169, 0.79);
        position: fixed;
        padding: 10px 0;
        z-index: 50;
    }
    .slider-top div {
        height: 260px;
    }
    .slider-top {
        margin-top: 58px;
    }
    .images-main {
        width: 350px;
        margin: 0 auto;
    }
    .servisec-block h3 {
        text-align: center;
    }
    .title-page {
        font-size: 21px;
    }
    .min-title {
        font-size: 18px;
    }
    .list-products {
        padding: 15px 0;
    }
    .more-info-product {
        margin-left: 0;
        display: inline-block;
        margin-top: 10px;
    }
    .breadcrumb li {
        font-size: 12px;
    }
    .title-serch {
        font-size: 20px;
    }
    .resultats {
        height: 40px;
        padding: 10px 20px;
        font-size: 15px;
    }
    .center-content-page {
        margin-top: 70px;
    }
    .img-basket {
        width: 108px;
        height: 93px;
    }
    .step-item span:after {
        width: 84px;
        top: 19px;
    }
    .step-item span {
        width: 43px;
        height: 43px;
        font-size: 20px;
        line-height: 43px;
    }
    .step-item {
        width: 90px;
        font-size: 11px;
    }
    .steps {
        width: 300px;
    }
    .blocks-table .hidden-lg {
        margin: 0;
    }
    #input_div {
        margin: 5px 0;
    }
    .inputs-block input {
        height: 40px;
        margin-bottom: 15px;
    }
    .text-end-task {
        line-height: 27px;
        font-size: 18px;
    }
    .prev-btn {
        height: 50px;
    }
    .img-big {
        height: 300px;
    }
}

@media (max-width:600px) {
    .languages a img {
        width: 21px;
        height: 21px;
    }
    .fillter span {
        margin-right: 2px;
    }
}